*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

.body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}

h1 {
  font-size: clamp(2rem, 50%, 3rem);
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
}

h1, h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h3 {
  font-size: 1.2rem;
}

ul, ol {
  padding-inline: var(--medium-space);
}

figcaption {
  color: var(--elo-color);
  padding-block-end: var(--normal-space);
}

.copyright {
  color: var(--copyright-color);
}

.information-page h2 {
  padding-block-start: var(--normal-space);
}
.information-page h3 {
  text-transform: uppercase;
  font-size: 1.1rem;
  padding-block-start: var(--small-space);
}
.information-page p, .information-page li {
  max-width: clamp(35ch, 100%, 60ch);
  padding-block-end: var(--small-space);
}
.information-page p, .information-page li:last-child {
  padding-block-end: var(--small-space);
}
.information-page__name, .information-page__updated {
  font-weight: bold;
  color: var(--fake-link-color);
}
.information-page img {
  width: clamp(300px, 50%, 500px);
}

section:not(.hero) {
  width: 80%;
  margin: auto;
  padding: var(--big-space);
}
@media (max-width: 600px) {
  section:not(.hero) {
    width: 100%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  padding: var(--big-space);
  border-radius: var(--border-radius);
  gap: 1rem;
  background-color: var(--box-color);
  width: clamp(100px, 100%, 600px);
  margin: auto;
}
.form__inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.form label {
  width: 100%;
}
.form input, .form select {
  padding: var(--mini-space);
  width: 100%;
}
.form button {
  align-self: start;
}

input[type=range] {
  accent-color: var(--button-color);
}

.status--error {
  color: var(--error-color);
}
.status--success {
  color: var(--secondary-color);
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--big-space);
}

.img-overlay {
  position: relative;
  overflow: hidden;
}
.img-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 59, 51, 0.8117647059);
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-block-start: 1rem;
}
@media (max-width: 600px) {
  .cards-grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.create-game, .myGames {
  position: relative;
}

.back-link {
  position: absolute;
  top: 10%;
  left: 0;
  text-transform: uppercase;
  font-weight: bold;
}
.back-link--allGames {
  top: 7%;
  left: -5%;
}
@media (max-width: 600px) {
  .back-link {
    display: none;
  }
}

:root {
  --primary-color: #d4efe8;
  --secondary-color: #85b5a8;
  --tertiary-color: #81ad9f;
  --box-color: #DD9BBA;
  --button-color: #D35A92;
  --button-border-color: #FFBDDC;
  --text-color: #000000;
  --fake-link-color: #ab06a0;
  --info-color: #c0457e;
  --elo-color: #c75e1d;
  --copyright-color: #bfe3d7;
  --number-color: #b43a73;
  --error-color: #b50758;
  --mini-space: 0.5rem;
  --small-space: 0.8rem;
  --normal-space: 1rem;
  --medium-space: 1.5rem;
  --big-space: 2rem;
  --border-radius: 1rem;
}

[data-theme=dark] {
  --primary-color: #203B33;
  --secondary-color: #598276;
  --tertiary-color: #131212;
  --box-color: #900A49;
  --button-color: #BC1E68;
  --button-border-color: #E78BB6;
  --text-color: #ffffff;
  --fake-link-color: #fda20e;
  --fake-link-hover-color: #fda20e;
  --info-color: #e970a8;
  --elo-color: #ffc9a5;
  --copyright-color: #a3a3a3;
  --number-color: #E78BB6;
  --error-color: #ffcee5;
}

.footer {
  background-color: var(--tertiary-color);
  text-align: center;
  padding: var(--big-space);
}
.footer__logo {
  width: clamp(100px, 50%, 250px);
  margin: auto;
}
.footer__nav li {
  display: inline-block;
  padding: var(--normal-space);
}

.header {
  padding: var(--medium-space);
  background-color: var(--tertiary-color);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}
.header__logo {
  width: clamp(120px, 100%, 200px);
}
.header__user {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: column;
  }
}

.navbar {
  text-align: center;
}
.navbar__item {
  display: inline-block;
  padding-inline: var(--small-space);
}
.navbar__item--active {
  font-weight: bold;
  text-decoration: underline;
}
@media (max-width: 600px) {
  .navbar {
    padding-block: var(--small-space);
  }
  .navbar__item {
    padding-block-start: var(--mini-space);
  }
}

.hero {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 70vh;
  position: relative;
  background-size: cover;
  background-position: 50%;
}
.hero h1, .hero p, .hero button, .hero a {
  z-index: 1;
  color: #fff;
}
.hero button {
  margin-block: var(--normal-space);
}
.hero p {
  width: clamp(35ch, 50%, 55ch);
}
.hero a {
  color: var(--elo-color);
  font-weight: bold;
  text-decoration: underline;
}

.button, .greeting__button, .all-games-btn {
  background-color: var(--button-color);
  border: 0.1rem solid var(--button-border-color);
  border-radius: 50px;
  padding: var(--mini-space) var(--normal-space);
  color: var(--text-color);
  min-width: 130px;
  cursor: pointer;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-field__error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.25rem;
}
.form-field--inline {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
}
.form-field--inline input, .form-field--inline label {
  width: auto;
}

.game-card {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  padding-block: var(--big-space);
  border-radius: var(--border-radius);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}
.game-card:hover {
  transform: translateY(-4px);
  box-shadow: 4px 8px 10px rgba(19, 18, 18, 0.662745098);
}
.game-card__title {
  padding-block: var(--normal-space);
}
.game-card__usernames {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 0.5rem;
  line-height: 1;
}
.game-card__vs {
  color: var(--info-color);
  font-style: italic;
  font-size: 1.8rem;
}
.game-card__rank {
  color: var(--info-color);
  font-size: 1.5rem;
  font-weight: bold;
  padding-block-end: 0.5rem;
}
.game-card__fake-link {
  color: var(--fake-link-color);
  font-weight: bold;
  text-decoration: underline;
}
.game-card--top-games {
  background-color: var(--box-color);
  padding-block: var(--medium-space);
}
.game-card--recent-games {
  background-color: var(--secondary-color);
  align-items: start;
  padding: var(--medium-space);
  width: 100%;
}
.game-card--recent-games .game-card__title {
  padding-block: var(--mini-space);
}
.game-card--recent-games .game-card__usernames {
  display: inline-flex;
  align-items: center;
  justify-content: start;
}
.game-card--recent-games .game-card__vs {
  padding-inline-start: var(--mini-space);
}

.player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player-info--inline {
  flex-direction: row;
  gap: 0.5rem;
}
.player-info__username {
  font-size: 1.1rem;
}
.player-info__elo {
  display: flex;
  align-items: center;
  gap: 0.15rem;
  font-size: 0.8rem;
  color: var(--elo-color);
}
.player-info__image {
  border-radius: 50%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  flex-shrink: 0;
}
.player-info__image--small {
  width: 40px;
}
.player-info__image--medium {
  width: 150px;
}
.player-info__image--large {
  width: 200px;
}

.appearance {
  position: relative;
}
.appearance__toggle {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--text-color);
}
.appearance__panel {
  background-color: var(--button-border-color);
  padding: var(--normal-space);
  margin-block-start: var(--small-space);
  border-radius: var(--border-radius);
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 2;
}
.appearance__panel .color-btn {
  margin-block: var(--normal-space);
  margin-inline-end: 0.4rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 2px solid transparent;
}
.appearance__panel label {
  font-size: 0.9rem;
  padding-block-start: var(--mini-space);
}

.greeting {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-inline: 1rem;
}
.greeting__button {
  min-width: 130px;
  text-align: center;
}
.greeting__image {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  text-decoration: underline;
}
@media (max-width: 600px) {
  .greeting {
    padding-block-start: 1rem;
  }
}
.greeting--game {
  margin-block-start: var(--mini-space);
  justify-content: center;
  text-align: center;
}
@media (max-width: 600px) {
  .greeting--game {
    margin-block-start: 0;
  }
}

.comment-item {
  background-color: var(--button-border-color);
  border-radius: 8px;
  padding: var(--mini-space);
  margin-block-end: var(--mini-space);
}

.comments-list__no-comment {
  text-align: center;
}

.login {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.login a {
  text-decoration: underline;
}

.game {
  display: grid;
  flex: 1;
  grid-template-columns: 1fr 0.25fr;
  grid-template-areas: "left right";
}
@media (max-width: 768px) {
  .game {
    grid-template-columns: 1fr;
    grid-template-areas: "left" "right";
  }
}
.game__main {
  grid-area: left;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-block: var(--big-space);
}
.game__players {
  display: flex;
  gap: var(--big-space);
}
.game__game-board {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 45vh;
  width: clamp(300px, 50%, 800px);
  margin-block-start: var(--normal-space);
  border: 5px solid var(--secondary-color);
  border-radius: var(--border-radius);
}
.game__comments {
  grid-area: right;
  padding: var(--normal-space);
  background-color: var(--box-color);
}
.game__comments button {
  display: block;
  font-size: 0.9rem;
  margin-inline-start: auto;
  margin-block-start: var(--mini-space);
}
.game__comments input {
  padding: var(--mini-space);
}
.game__waiting-overlay {
  font-size: 1.8rem;
  color: var(--secondary-color);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.game__variant {
  margin-block-start: var(--small-space);
}

.userPage h2:not(.trophies) {
  margin-block-start: var(--big-space);
}
.userPage__form {
  margin: var(--medium-space) 0;
}
.userPage__form button {
  margin-inline-end: var(--small-space);
}
.userPage__form-buttons {
  display: flex;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 600px) {
  .container {
    gap: 5rem;
  }
}

.profile {
  display: flex;
  align-items: start;
  gap: 3rem;
}
@media (max-width: 600px) {
  .profile {
    gap: 1rem;
    flex-direction: column;
  }
}
.profile__edit {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 600px) {
  .profile__edit {
    flex-direction: row;
    gap: 1rem;
  }
}
.profile__edit-button {
  display: block;
  margin-block: var(--normal-space);
}
.profile__email {
  color: var(--elo-color);
}
.profile__about {
  padding-block-start: var(--mini-space);
  width: clamp(35ch, 50%, 40ch);
}
.profile__about--empty {
  color: var(--secondary-color);
}

@media (max-width: 600px) {
  .stats {
    width: 100%;
  }
}
.stats__elo-list {
  list-style: none;
  padding: 0;
}
.stats__elo-list li {
  display: inline-block;
}
@media (max-width: 600px) {
  .stats__elo-list {
    display: flex;
    flex-direction: column;
  }
}
.stats__separator {
  padding-inline: var(--small-space);
  color: var(--secondary-color);
}
.stats__cards {
  display: flex;
  gap: var(--normal-space);
  margin-block-start: 1rem;
}
@media (max-width: 600px) {
  .stats__cards {
    flex-direction: column;
  }
}
.stats__cards-item {
  display: flex;
  flex: 1;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  padding: var(--normal-space);
  background-color: var(--box-color);
}
.stats__cards-number {
  color: var(--number-color);
  font-size: 2.5rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.trophies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.trophy-img {
  width: 80%;
}

.lastGames, .allGames {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
@media (max-width: 600px) {
  .lastGames, .allGames {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.allGames {
  grid-template-columns: 1fr 1fr 1fr;
  margin-block-start: var(--small-space);
}

.all-games-btn {
  margin-block-start: var(--medium-space);
  display: inline-block;
}/*# sourceMappingURL=main.css.map */