.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;

    &__btn {
        margin-block-start: var(--normal-space);
    }
}